html {
  box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
}

*, *:before, *:after {
  box-sizing: inherit;   
  margin: 0;
  padding: 0;
}


body {
  overflow:hidden;
  height:450px;
  width:300px;
}

/* var defs */

:root body {
  --shadow: 0px 0px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%);
  --light-grey: #f2f2f2;
  --slightly-darker-grey: #ececec;

  /* Testing Only */
  --va: 1.8;
  --v2: 1.05;
}



/* Top Section - Header (Controls, title) */

#header {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}


/* Main Content - Tokens + Scanner */

/* Container Part */

#main {
  padding-right: 8px;
  height: 390px;
  overflow-y:hidden;
  overflow-x:hidden;
  background-color: var(--light-grey);
  /* transition:background-color 0.3s ease-out; */
}

#main:hover {
  overflow-y: scroll;
  padding-right: 2px;
}

#main::-webkit-scrollbar-thumb {
  background-color: #a6a6a6; /* #d1d1d1; */
  border: 2px solid #eee; /* var(--light-grey) */ 
}

::-webkit-scrollbar {
  width: 6px;
}

/* Token Content */




/* Scanner Content */

#scanner {
  position: fixed;
  bottom: 51px;
  right: 23px;
  background-color: #1fbd87; /* #30cb1e ? */
  box-shadow: var(--shadow);
  border-radius: 8px;
  cursor: pointer;
  padding: calc(var(--v2) * 5.5px) calc(var(--v2) * 2px);
  display: flex;
  flex-direction: row;
  transition: 0.2s ease-in;
}

#qrIcon {
  width: calc(var(--va)* 41px);
  height: calc(var(--va)*31px);
  fill: none;
}

#qrIcon > g {
  transform: matrix(calc(1.2916667 * var(--va)), 0, 0, calc(1.2916667 * var(--va)), calc(5 * var(--va)), -0);
}

#qrIcon path {
  stroke: black;
  stroke-linecap: round; /* for both, square or round work */
  stroke-linejoin: round;
  transition: 0.2s ease-in-out;
}

/* Hover Animation Bits */

#scanner:hover #rimTL {
  transform:translate(-2px, -2px);
}

#scanner:hover #rimTR {
  transform:translate(2px, -2px);
}

#scanner:hover #rimBL {
  transform:translate(-2px, 2px);
}

#scanner:hover #rimBR {
  transform:translate(2px, 2px);
}

#innerQR {
  transition: 0.2s ease-in-out;
  transform-origin: 12px 12px;
}

#scanner:hover #innerQR {
  transform: scale(1.2);
}


/*  */

.tokenField {
  grid-template-rows: 33px 32px 17px;
  grid-template-columns: 10px 60px 10px auto 50px;
  display: grid;
  height: 82px;
  background-color: #f9f9f9;
  margin: 13px 0 8px 8px;
  box-shadow: var(--shadow);
  grid-template-areas:
      ". issuer issuer name ."
      ". issuer issuer code time"
      ". issuer issuer . .";
}

.tokenSecret {
  grid-area: code;
  font-size: 34px;
  justify-self: start;
  align-self: center;
  color: #225fbb;
  margin-bottom: 6px; /* temporary */
}

.tokenIssuer {
  grid-area: issuer;
  justify-self: center;
  align-self: center;
  width: 48px;
  height: 48px;
  user-select: none;
}


.tokenUser {
  grid-area: name;
  align-self: end;
  justify-self: start;
  margin: 0 0 6px 2px; /* temporary */
}

/* Bottom Section - Chin (Visual Only) */

.rim {
  height: 30px;
  position: relative;
  background-color: var(--slightly-darker-grey);
  box-shadow: var(--shadow);
}